.app-info__slogan-block {
  position: relative;
  padding: {
    top: 39px;
    bottom: 0px;
  }
  text-align: center;
  background-color: #fff;
}

.app-info__slogan {
  font: 2.4em $font-open-sans-light;//24px
  line-height: 1.25em;
  color: $color-indigo;
  &--question {
    margin-bottom: 27px;
  }
}

.app-info__decor {
  position: absolute;
  bottom: -90px;
  left: 0;
  width: 100%;
  height: 95px;
  background: url('../../img/bg-triangle-white.svg') no-repeat center;
  background-size: cover;
  z-index: 1;
}

//Tablet(660px)
@media #{$tablet} {
  .app-info__slogan-block {
    padding: {
      top: 49px;
      bottom: 30px;
    }
  }
  
  .app-info__slogan {
    font-size: 4em;//40px
    line-height: 1.2em;
    &--question {
      margin-bottom: 0px;
    }
    &--answer {
      padding: {
        left: 7%;
        right: 7%;
      }
    }
  }
}