.contest__form {
  text-align: center;
  background-color: #fff;
}

.contest__form-section {
  padding: {
    top: 38px;
    bottom: 25px;
    left: 6.25%;
    right: 6.25%;
  }
  &--user {
    padding: {
      top: 0;
    }
  }
  &--grey {
    background-color: $color-grey;
  }
}

.contest__form-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 17px;
  &:last-of-type {
    margin-bottom: none;
  }
}

.contest__input-icon-block {
  display: none;
}

.contest__input {
  @include placeholder {
    color: $color-indigo;
  }
  width: 100%;
  padding: {
    top: 14px;
    bottom: 15px;
    left: 7.5%;
    right: 7.5%;
  }
  font: 1.8em/1.6666666667em $font-open-sans;//18/30
  color: $color-indigo;
  border:2px solid #e5e5e5;
  border-radius: 3px;
  outline: none;
  box-sizing: border-box;
  &:hover {
    border-color: $color-indigo;  
  }
  &:focus {
    border-color: $color-pink;  
  }
  &--select {
    display: none;
  }
  &--error-js {
    font-size: 1.3em;
    @include placeholder {
    color: $color-pink;
    font-style: italic;
    }
    border-color: $color-pink;
  }
}

.contest__label {
  font: 1.8em/1.6666666667em $font-open-sans;//18/30
  color: $color-indigo;
  &--title {
    margin-bottom: 5px;
    padding-left: 8%;
    font: 1.4em/2.1428571429em $font-open-sans;//14/30
    text-transform: uppercase;
    color: $color-pink;
  }
}

.contest__form-section-title {
  margin-bottom: 45px;
  padding: {
    left: 6.25%;
    right: 6.25%;
  }
  font: 1.4em/1.2857142857em $font-open-sans;//14/18
  text-transform: uppercase;
  color: $color-pink;
  &--os {
    margin-bottom: 40px;
  }
  &--visually-hidden-mobile {
    display: none;
  }
}

.contest__label--select {
  position: relative;
  width: 75%;
  padding: {
    left: 70px;
  }
  text-align: left;
  cursor: pointer;
  &::before,
  &::after {
    @include pseudo;
  }
  &::before {
    top: 50%;
    left: 0;
    width: 35px;
    height: 35px;
    border: 2px solid #e5e5e5;
    background-color: #fff;
    transform: translateY(-50%);
  }
  &:hover::before {
    border-color: $color-indigo;
  }
  &:active::before {
    border-color: $color-pink;
  }
}

.contest__label--checkbox {
  margin-bottom: 35px;
  &::before {
    border-radius: 3px;
  }
}

.contest__input[id="selfie"]:checked + .contest__label--select[for="selfie"]::after,
.contest__input[id="sunburn"]:checked + .contest__label--select[for="sunburn"]::after,
.contest__input[id="chuck"]:checked + .contest__label--select[for="chuck"]::after, 
.contest__input[id="gifts"]:checked + .contest__label--select[for="gifts"]::after,
.contest__input[id="tower"]:checked + .contest__label--select[for="tower"]::after,
.contest__input[id="demolish"]:checked + .contest__label--select[for="demolish"]::after {
  top: 13%;
  left: 10px;
  width: 21px;
  height: 20px;
  background: url("../../img/icons/icon-tick.svg") no-repeat center;
}

.contest__label--radio {
  margin-bottom: 28px;
  &::before {
    border-radius: 50%;
  }
}

.contest__input[id="pink-ios"]:checked + .contest__label--select[for="pink-ios"]::after,
.contest__input[id="pink-android"]:checked + .contest__label--select[for="pink-android"]::after,
.contest__input[id="pink-windows"]:checked + .contest__label--select[for="pink-windows"]::after {
  top: 50%;
  left: 11px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: $color-pink;
  transform: translateY(-50%);
}

.contest__form-block:last-of-type .contest__label--select {
  margin-bottom: 0;
}

.contest__form-section--os {
  padding-bottom: 29px;
}

.contest__form-section-title--emotions {
  margin-bottom: 18px;
}

.contest__input--describe-emotions {
  min-height: 201px;
}

.contest__form-section--submit {
  padding : 0;
  padding-top: 6px;
  text-align: center;
}

.contest__form-submit {
  width: 87.5%;
  margin-bottom: 35px;
}

.contest__form-required-text {
  font: 1.4em/2.1428571429em $font-open-sans;//14/30
  text-transform: uppercase;
  color: $color-indigo;
  &--pink {
    color: $color-pink
  }
}

//Tablet(660px)
@media #{$tablet} {
  .contest__wrapper {
    padding: {
      top: 0px;
    }
  }
  
  .contest__form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    padding: {
      left: 3%;
      right: 3%;
    }
  }
  
  .contest__form-section {
    position: relative;
    margin-bottom: 66px;
    padding: {
      top: 40px;
      bottom: 40px;
      left: 9.5%;
      right: 9.5%;
    }
    border:2px solid #e5e5e5;
    &:last-of-type {
      margin-bottom: 0px;
    }
    &--grey {
      background-color: #fff;
    }
    &--user {
      order: 1;
      margin-bottom: 7px;
      padding: {
        top: 0px;
        bottom: 7px;
        left: 0%;
        right: 0%;
      }
      border: none;
    }
    &--os {
      order: 2;
    }
    &--contact-data {
      order: 3;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      padding: {
        top: 28px;
        bottom: 24px;
      }
    }
    &--achievements {
      order: 4;
      padding: {
        bottom: 36px;
      }
    }
    &--emotions {
      order: 5;
      padding: {
        top: 27px;
        bottom: 0px;
      }
    }
    &--submit {
      order: 6;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: {
        top: 0;
        bottom: 51px;
        left: 0;
        right: 0;
      }
      border: none;
    }
  }
  
  .contest__form-block {
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
    margin-bottom: 52px;
    &:last-of-type {
      margin-bottom: none;
    }
    &--select {
      margin-bottom: 17px;
    }
    &--contacts {
      position: relative;
      flex-direction: column;
      margin-bottom: 29px;
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
  
  .contest__input-icon-block {
    position: absolute;
    top: 0px;
    left: 87.8%;
    display: block;
    width: 62px;
    height: 64px;
    background-color: #e5e5e5;
    border-radius: 3px;
  }
  
  .contest__input-icon {
    @include center;
  }
  
  .contest__input {
    width: 100%;
    margin-right: auto;
    padding: {
      top: 14px;
      bottom: 15px;
      left: 22px;
      right: 22px;
    }
    &--error-js {
      padding: {
        top: 18px;
        bottom: 19px;
      }
      font-size: 1.3em;
    }
    &--contacts {
      order: 0;
      align-self: flex-start;
      width: 90%;
      margin: 0;
      margin-bottom: 10px;
      padding: {
        left: 18px;
      }
    }
    &--describe-emotions {
      min-height: 193px;
      padding: {
        left: 18px;
      }
    }
  }

  .contest__label {
    margin-right: 18px;
    &--title {
      margin-bottom: 0px;
      padding-left: 0;
    }
    &--select {
      width: 75%;
      padding: {
        left: 60px;
      }
    }
    &--contacts {
      order: 1;
      align-self: flex-start;
      margin: 0;
      padding-left: 20px;
      text-align: left;
    }
  }
  
  .contest__form-section-title {
    position: relative;
    top: -50px;
    display: inline;
    margin-bottom: 0;
    padding: {
      left: 5%;
      right: 5%;
    }
    background-color: #fff;
    z-index: 1;
    &--visually-hidden-mobile {
      top: -38px;
      display: inline;
    }
    &--emotions {
      top: -38px;
    }
    &--contacts {
      align-self: center;
    }
  }
  
  .contest__form-submit {
    width: 48.5%;//300
    margin-bottom: 0px;
  }
}

//Desktop (1200px)
@media #{$desktop} {
	.contest__form {
		flex-direction: row;
    justify-content: space-between;
		align-items: flex-start;
		flex-wrap: wrap;
    padding: 0;
	}
	
	.contest__form-section {
		width: 100%;
		height: auto;
		margin-bottom: 65px;
		padding: 0;
		padding: {
			top: 25px;
		}
		&:last-of-type {
			margin-bottom: 0;
		}
		&--user {
			width: 435px;
			margin-bottom: 14px;
		}
		&--os {
			position: relative;
			top: 20px;
			width: 430px;
			padding: {
				top: 40px;
				bottom: 40px;
			}
		}
		&--contact-data {
			padding: {
				bottom: 13px;
			}
		}
		&--achievements {
			padding: {
				bottom: 10px;
			}
		}
	}
	
	.contest__form-section-wrapper {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: stretch;
		flex-wrap: wrap;
		padding: {
			left: 58px;
			right: 58px;
		}
		&--achievements {
			justify-content: flex-start;
			padding: {
				top: 13px;
				right: 0;
			}
			outline: 1px solid red;
		}
	}
	
	.contest__form-block {
		outline: 1px solid red;
		&--os {
			padding: {
				left: 73px;
			}
		}
		&--contacts {
			width: 377px;
			margin-bottom: 0;
		}
		&--shark {
			order: 1;
			width: 314px;
		}
		&--sunburn {
			order: 4;
			width: 314px;
		}
		&--chuck {
			order: 2;
			width: 295px;
		}
		&--gifts {
			order: 5;
			width: 295px;
		}
		&--tower {
			order: 3;
			width: 230px;
		}
		&--hotel {
			order: 6;
			width: 230px;
		}
		&--describe-emotions {
			width: 100%;
		}
	}
	
	.contest__form-section-title {
  	top: -35px;
    padding: {
      left: 3.5%;
      right: 3.5%;
    }
		 &--os {
			 top: -50px;
			 padding: {
      	left: 6%;
      	right: 6%;
    	}
		}
  }
	
	.contest__input-icon-block {
    top: 0px;
    left: 313px;
  }
	
	.contest__input--describe-emotions {
		min-height: 127px;
	}
}