.contacts__wrapper {
  position: relative;
  padding: {
    top: 43px;
    bottom: 15px;
  }
  text-align: center;
}

.contacts__slogan {
  margin-bottom: 36px;
  font: 2.4em $font-open-sans-light; //24
  line-height: 1.2em;
  color: $color-indigo;
}

.contacts__section {
  margin-bottom: 20px;
}

.contacts__section-title {
  font: 1.8em $font-open-sans-bold; //18
  color: $color-indigo;
}

.contacts__section-info {
  font: 2.4em $font-open-sans-light; //24
  color: $color-pink;
  &--mailto:hover,
  &--mailto:active {
    color: $color-indigo;
    text-decoration: underline;
  }
  &--mailto:active {
    text-decoration: none;
    opacity: 0.3;
  }
}

.contacts__decor {
  position: absolute;
  bottom: -46px;
  left: 0;
  width: 100%;
  height: 62px;
  background: url("../../img/bg-triangle-white-footer.svg") no-repeat center;
  background-size: contain;
  z-index: 1;
}

//Tablet(660px)
@media #{$tablet} {
  .contacts__wrapper {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    padding: {
      top: 43px;
      bottom: 15px;
    }
    text-align: center;
  }
  
  .contacts__slogan {
    width: 86%;
    margin-bottom: 43px;
    padding: {
      left: 7%;
      right: 7%;
    }
    font-size: 4em;//40
    outline: 1px solid red;
  }
  
  .contacts__section {
    width: 49%;
    margin-bottom: 47px;
    outline: 1px solid red;
    &:last-of-type {
      margin-bottom: 0;
    }
    &--custom-size {
      width: 100%;
    }
  }
  
  .contacts__section-title {
    margin-bottom: 7px;
  }
  
  .contacts__section-info {
    line-height: 1.2em;
  }
}