.desc-block {
  padding: {
    top: 45px;
    bottom: 49px;
    left: 11%;
    right: 11%;
  }
  text-align: center;
  background-color: #fff;
  &--video {
    padding: {
      top: 45px;
      bottom: 40px;
      left: 1.5%;
      right: 1.5%;
    }
  }
  &--contest {
    padding: {
      bottom: 34px;
      left: 6.25%;
      right: 6.25%;
    } 
  }
}

.desc-block__desc {
  font: 1.4em/2.1428571429em $font-open-sans; //14/30
  color: $color-indigo;
  &--visually-invisible-for-mobile {
    display: none;
  }
}

//Tablet(660px)
@media #{$tablet} {
  .desc-block {
    padding: {
      top: 92px;
      bottom: 76px;
    }
    &--video {
      padding: {
        top: 45px;
        bottom: 69px;
      }
    }
    &--contest {
      padding: {
        left: 11%;
        right: 11%;
        bottom: 71px;
      }
    }
  }
  
  .desc-block__desc {
    font: 1.8em/1.6666666667em $font-open-sans; //18/30
    &--visually-invisible-for-mobile {
      display: inline;
    }
  }
}

//Desktop (1200px)
@media #{$desktop} {
  .desc-block {
    padding: {
      top: 92px;
      bottom: 88px;
    	left: 635px;
			right: 635px;
    }
    &--video {
      padding: {
        top: 45px;
        bottom: 69px;
      }
    }
    &--contest {
      padding: {
        left: 11%;
        right: 11%;
        bottom: 71px;
      }
    }
  }
}