.features__wrapper {
  position: relative;
  padding: {
    top: 112px;
    bottom: 318px;
  }
  text-align: center;
  background-color: $color-grey;
  overflow: hidden;
}

.features__item {
  margin-bottom: 33px;
  padding: {
    left: 7%;
    right: 7%;
  }
  &:last-of-type {
    margin-bottom: 0;
  }
}

.features__item-img-block {
  &--visually-desktop-only {
    display: none;
  }
}

.features__item-title {
  margin-bottom: 12px;
  font: 1.8em/1.3333333333em $font-open-sans-bold;//18/24
  color: $color-indigo;
}

.features__item-desc {
  font: 1.4em/1.7142857143em $font-open-sans;//14/24
  color: $color-indigo;
}

.features__text-tranfer {
  display: none;
}

.features__desc-img {
  position: absolute;
  bottom: -5%;
  left: 25%;
}


//Tablet(660px)
@media #{$tablet} {
  .features__wrapper {
    padding: {
      top: 93px;
      bottom: 42px;
    }
    text-align: left;
  }
  
  .features__item {
    padding: 0;
    padding: {
      left: 50%;
      right: 2%;
    }
    margin-bottom: 35px;
  }
  
  .features__text-tranfer {
    display: inline;
  }
  
  .features__desc-img {
    top: 20px;
    left: 3%;
    width: 268px;
    height: 481px;
    z-index: 2;
  }
}

//Desktop (1200px)
@media #{$desktop} {
  .features__wrapper {
    padding: 0;
    overflow: visible;
  }
  
  .features__wrapper-inner {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    padding: {
      top: 47px;
      bottom: 0px;
    }
    text-align: center;
  }
  
  .features__desc-img {
    display: none;
  }
  
  .features__item {
    position: relative;
    width: 240px;
    margin: 0;
    padding: {
      top: 302px;
      bottom: 0;
      left: 30px;
      right: 30px;
    }
    &--mood {
      margin-right: 20px;
    }
    &--friends {
      margin-left: auto;
    }
  }
  
  .features__item-img-block {
    position: absolute;
    top: -55px;
    left: 50%;
    width: 100%;
    height: 302px;
    transform: translateX(-50%);
    z-index: 200;
    &--visually-desktop-only {
      display: block;
    }
  }
  
  .features__item-title {
    margin-bottom: 25px;
    font-size: 3em;
    line-height: 1em;//30
    color: #000;
  }

  .features__item-desc {
    font-size: 1.8em;
    line-height: 1.6666666667em;//30
  }

  .features__text-tranfer {
    display: none;
  }
}