.features__wrapper {
  position: relative;
  padding: {
    top: 112px;
    bottom: 318px;
  }
  text-align: center;
  background-color: $color-grey;
  overflow: hidden;
}

.features__item {
  margin-bottom: 33px;
  padding: {
    left: 7%;
    right: 7%;
  }
  &:last-of-type {
    margin-bottom: 0;
  }
}

.features__item-title {
  margin-bottom: 12px;
  font: 1.8em/1.3333333333em $font-open-sans-bold;//18/24
  color: $color-indigo;
}

.features__item-desc {
  font: 1.4em/1.7142857143em $font-open-sans;//14/24
  color: $color-indigo;
}

.features__text-tranfer {
  display: none;
}

.features__desc-img {
  position: absolute;
  bottom: -5%;
  left: 25%;
}

//Tablet(660px)
@media #{$tablet} {
  .features__wrapper {
    padding: {
      top: 93px;
      bottom: 42px;
    }
    text-align: left;
  }
  
  .features__item {
    padding: 0;
    padding: {
      left: 50%;
      right: 2%;
    }
    margin-bottom: 35px;
  }
  
  .features__text-tranfer {
    display: inline;
  }
  
  .features__desc-img {
    top: 20px;
    left: 3%;
    width: 268px;
    height: 481px;
    z-index: 2;
  }
}