.intro__wrapper {
  background-color: #1d2631;
}

.intro__block-bg {
  height: 401px;
  background-color: #1d2631;
  background: 
    url("../../img/iphone-hand-mobile@1x.png") no-repeat 0% 93%,
    url("../../img/bg-back-mobile@1x.jpg") no-repeat center 111%;
  &--not-index {
    height: 170px;
    background: url("../../img/bg-back-mobile@1x.jpg") no-repeat center;
  }
}

.intro__title {
  margin: 0;
  padding-top: 28px;
  font:  2.4em $font-open-sans;//24
  text-align: center;
  color: #fff;
}

.intro__desc-block {
  padding: {
    top: 20px;
    bottom: 29px;
    left: 6.25%;
    right: 6.25%;
  }
}

.intro__download-link {
  padding: {
    top: 15px;
    bottom: 17px;
  }
  font: 1.8em/1em $font-open-sans-bold;//18/18
  text-align: center;
  color: #fff;
  background-color: transparent;
  border: 3px solid #fff;
  border-radius: 30px;
  &:hover {
    color: $color-pink;
    background-color: #fff;
  }
  &:active {
    color: #f3d2d8;

  }
}

.intro__os-icons {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
  padding: {
    top: 30px;
    left: 13.5%;//35px;
    right: 13.5%;//35px;
  }
}

.intro__desc {
  padding: {
    top: 23px;
  }
  font: 1.4em/1.7142857143em $font-open-sans-light;//14/24
  text-align: center;
  color: #fff;
}

//Retina 2x 320px
@media only screen and (min-width: 320px) {
  @media #{$retina} {
    .intro__block-bg {
      background: 
        url("../img/iphone-hand-mobile@2x.png") no-repeat 0% 95%,
        url("../img/bg-back-mobile@2x.jpg") no-repeat center 111%;
      background-size: 
        258px auto, 
        700px auto;
    }
  }  
}
