.intro__wrapper {
  background-color: #1d2631;
}

.intro__block-bg {
  height: 401px;
  background-color: #1d2631;
  background: 
    url("../../img/iphone-hand-mobile@1x.png") no-repeat 0% 93%,
    url("../../img/bg-back-mobile@1x.jpg") no-repeat center 111%;
  &--not-index {
    height: 168px;
    background: url("../../img/bg-back-mobile@1x.jpg") no-repeat center 24%;
  }
  &--js-mobile {
		height: 461px;
		background: 
    	url("../../img/iphone-hand-mobile@1x.png") no-repeat 0% 100%,
    	url("../../img/bg-back-mobile@1x.jpg") no-repeat center 0%;
  	}
	&--js-mobile-not-index {
		height: 170px;
		padding-top: 60px;
		background: url("../../img/bg-back-mobile@1x.jpg") no-repeat center 0%;
  }
}

.intro__text-tranfer {
  display: none;
}

.intro__title {
  margin: 0;
  padding: {
    top: 28px;
    left: 6.25%;
    right: 6.25%;
  }
  font: 2.4em $font-open-sans-light;//24
  line-height: 1.2em;
  text-align: center;
  color: #fff;
  &--index {
    display: none;
  }
}

.intro__desc-block {
  padding: {
    top: 20px;
    bottom: 29px;
    left: 6.25%;
    right: 6.25%;
  }
}

.intro__download-link {
  padding: {
    top: 15px;
    bottom: 17px;
  }
  font: 1.8em/1em $font-open-sans-bold;//18/18
  text-align: center;
  color: #fff;
  background-color: transparent;
  border: 3px solid #fff;
  border-radius: 30px;
  &:hover {
    color: $color-pink;
    background-color: #fff;
  }
  &:active {
    color: #f3d2d8;
  }
}

.intro__os-icons {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
  padding: {
    top: 30px;
    left: 13.5%;//35px;
    right: 13.5%;//35px;
  }
}

.intro__desc {
  padding: {
    top: 23px;
  }
  font: 1.4em/1.7142857143em $font-open-sans-light;//14/24
  text-align: center;
  color: #fff;
}

//Retina 2x 320px(mobile)
@media only screen and (min-width: 320px) {
  @media #{$retina} {
    .intro__block-bg {
      background: 
        url("../img/iphone-hand-mobile@2x.png") no-repeat 0% 95%,
        url("../img/bg-back-mobile@2x.jpg") no-repeat center 111%;
      background-size: 
        258px auto, 
        700px auto;
    }
  }  
}

//Tablet(660px)
@media #{$tablet} {
  .intro__wrapper-inner {
		&--index {
			position: absolute;
			top: 0;
			left: 0;
		}
	}
  
  .intro__block-bg {
    height: 618px;
    background-color: #1d2631;
    background: 
      url("../../img/iphone-hand-tablet@1x.png") no-repeat 51% 100%,
      url("../../img/bg-back-tablet@1x.jpg") no-repeat center 100%;
		outline: 1px solid red;
    &--not-index {
      height: 288px;
      padding: {
        top: 40px;
      }
      background: url("../../img/bg-back-tablet@1x.jpg") no-repeat center 28%;
    }
		&--js-mobile {
			height: 717px;
			background: 
      	url("../../img/iphone-hand-tablet@1x.png") no-repeat 51% 100%,
      	url("../../img/bg-back-tablet@1x.jpg") no-repeat center 0%;
  	}
		&--js-mobile-not-index {
			height: 248px;
			padding-top: 80px;
			background: url("../../img/bg-back-tablet@1x.jpg") no-repeat center 0%;
		}
  }
  
  .intro__desc-block {
    &--index {
      position: absolute;
      top: 458px;
			left: 20px;
      display: flex;
      flex-direction: column;
      width: 300px;
      padding: 0;
    }
		&--js {
			top: 219px;
		}
  }
  
  .intro__title {
    padding: {
      top: 28px;
      left: 6.25%;
      right: 6.25%;
    }
    font: 5em $font-open-sans-light;//50
    line-height: 1.2em;
    &--index {
      display: inline;
      margin-bottom: 32px;
      padding: {
        top: 0;
        bottom: 0;
        left: 10%;
        right: 10%;
      }
      font: 4em $font-open-sans-light;//40
      line-height: 1.2em;
    }
  }
  
  .intro__download-link {
    margin-bottom: 15px;
  }
  
  .intro__os-icons {
    align-items: center;
    margin-bottom: 12px;
    padding: {
      left: 16%;
      right: 16%;
    }
  }
  
	.intro__desc {
    font: 1.8em/1.3333333333em $font-open-sans-light;//18/24
    color: #fff;
  }
}

//Retina 2x 660px(Tablet)
@media #{$tablet} {
  @media #{$retina} {
    .intro__block-bg {
      background: 
        url("../../img/iphone-hand-tablet@2x.png") no-repeat 51% 100%,
        url("../../img/bg-back-tablet@2x.jpg") no-repeat center 100%;
      background-size: 
        700px auto, 
        1200px auto;
      &--not-index {
        background: url("../../img/bg-back-tablet@2x.jpg") no-repeat center 24%;
        background-size: 1200px auto;
    }
    }
  }  
}

//Desktop (1200px)
@media #{$desktop} {
  .intro__block-bg {
    height: 853px;
    background: 
      url("../../img/iphone-hand-desktop@1x.png") no-repeat 58.5% 100%,
      url("../../img/bg-back-desktop@1x.jpg") no-repeat center 100%;
    &--not-index {
      height: 254px;
      padding: {
        top: 140px;
      }
      background: url("../../img/bg-back-desktop@1x.jpg") no-repeat center 28%;
    }
  }
  
  .intro__wrapper-inner {
    &--index {
      @include center;
      width: 1200px;
      height: 859px;
      padding: 0;
    }
  }
  
  .intro__desc-block {
    &--index {
      top: 172px;
      left: 130px;
      padding: 0;
    }
  }
  
  .intro__text-tranfer {
    display: block;
  }
  
  .intro__title {
    padding: {
      top: 32px;
      left: 5px;
      right: 5px;
    }
    font: 5em $font-open-sans-light;//50
    line-height: 1.2em;
    &--index {
      margin-bottom: 51px;
      padding: 0;
    }
  }
  
  .intro__download-link {
    margin-bottom: 35px;
    padding: {
      top: 15px;
      bottom: 17px;
    }
    font-size: 2.1em;
    line-height: 0.8571428571em;//18
  }
  
  .intro__os-icons {
    margin-bottom: 32px;
  }

  //Retina 2x 1200px(Desktop)
  @media #{$retina} {
    .intro__block-bg {
      background: 
        url("../../img/iphone-hand-desktop@1x.png") no-repeat 58.5% 100%,
        url("../../img/bg-back-desktop@1x.jpg") no-repeat center 100%;
      background-size: 
        1050px auto, 
        2560px auto;
      &--not-index {
        background: url("../../img/bg-back-desktop@1x.jpg") no-repeat center 28%;
        background-size: 2560px auto;
      }
    }
  }  
}