.main-nav {
  position: relative;
}

.main-nav__menu-toggle {
  display: none;
  position: absolute;
  top: 15px;
  right: 6.25%;
  width: 50px;
  height: 25px;
  background: url("../img/icons/icon-menu-burger.svg") no-repeat center;
  border: none;
  outline: none;
  &--active {
    width: 24px;
    height: 24px;
    background: url("../img/icons/icon-menu-cross.svg") no-repeat center;
  }
}

.main-nav__logo {
  padding: {
    top: 20px;
    left: 6.25%;//20
    right: 6.25%;
    bottom: 24.5px;
  }
  background-color: $color-indigo;
  border-bottom: 1px solid #000;
  &--js-mobile {
    position: absolute;
    top: 0;
    left: 0;
    width: 87.5%;
    background-color: rgba(0, 0, 0, 0.3);  
  }
}

.main-nav__item {
  width: 100%;
  padding: {
    top: 15px;
    bottom: 15.5px;
  }
  background-color: $color-indigo;
  border: {
    top: 1px solid #485461;
    bottom: 1px solid #000;
  }
}

.main-nav__link {
  display: block;
  font: 1.8em/1.7777777778em $font-open-sans-bold;//18/32
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  &:hover,
  &:active {
    color: $color-pink;
  }
  &:active {
    opacity: 0.3;
  }
}


//Tablet (660px)
@media #{$tablet} {
  .main-nav__menu-toggle {
    position: absolute;
    top: 44px;
    right: 3%;
    &--active {
      right: 0.9%;
    }
  } 
  
  .main-nav__logo {
    padding: {
      top: 26px;
      left: 3%;//20
      right: 3%;
      bottom: 39px;
    }
  }
  
  .main-nav__logo-img {
    width: 147px;
    height: 41px;
  }
}
