.map__wrapper {
  position: relative;
  height: 200px;
  overflow: hidden;
}

.map__decor {
  position: absolute;
  top: -15px;
  left: 50%;
  width: 100%;
  height: 62px;
  background: url("../../img/bg-triangle-white-footer.svg") no-repeat center;
  background-size: contain;
  transform: translate(-50%);
  z-index: 1;
}

.map__link {
  width: 100%;
  height: 200px;
  background: #fff url("../../img/bg-map-mobile.png") no-repeat center 100%;
  background-size: cover;
	&::before,
  &::after {
    @include pseudo;
    top: 111px;
    left: 50%; 
    border-radius: 50%;
    transform: translate(-50%, -50%);
  }
  &::before {
    width: 35px;
    height: 35px;
    background-color: #fff;
  }
  &::after {
    width: 15px;
    height: 15px;
    background-color: #d22856;
  }
}

//Tablet(660px)
@media #{$tablet} {
  .map__wrapper {
    height: 370px;
  }
  
  .map__decor {
    top: -45px;
    height: 150px;
  }
  
  .map__link {
    height: 848px;
    background: url("../../img/bg-map-tablet@1x.jpg") no-repeat center -350px;
    background-size: cover;
    &::before,
    &::after {
      top: 207px;
    }
  }
  
  @media #{$retina} {
    .map__link {
      background: url("../../img/bg-map-tablet@2x.jpg") no-repeat -20px -365px;
      background-size: 700px auto;
    }
  }
}

//Desktop (1200px)
@media #{$desktop} {
  .map__wrapper {
    height: 522px;
  }
  
  .map__wrapper-inner {
    position: relative;
  }
  
  .map__decor {
    top: -37px;
    height: 162px;
    background: url("../../img/bg-triangle-white-footer.svg") no-repeat center 100%;
    background-size: cover;
  }
  
  .map__link {
    height: 976px;
    background: url("../../img/bg-map-desktop@1x.jpg") no-repeat center -255px;
    background-size: contain;
    margin: 0 auto;
    &::before,
    &::after {
      top: 302px;
    }
  }
  
  @media #{$retina} {
    .map__link {
      background: url("../../img/bg-map-desktop@2x.jpg") no-repeat center -255px;
      background-size: 1200px auto;
    }
  }
}