.modal-window {
  //display: none;
  max-width: 320px;
  margin: 0 auto;
  text-align: center;
  box-shadow: 0px 5px 5px 0px #000;
  &--error-window {
    width: 87.5%;
    padding: {
      bottom: 45px;
      left: 6.25%;
      right: 6.25%;
    }
  }
  &--success-window {
    width: 100%;
    padding: {
      bottom: 32px;
    }
  }
  outline: 1px solid red;
}

.modal-window__title {
  font: 1.8em/1.3333333333em $font-open-sans-bold;//18/24
  color: #000;
}

.modal-window__desc {
  margin-bottom: 20px;
  font: 1.4em/1.7142857143em $font-open-sans;//14/24
  color: $color-indigo;
}

.modal-window__window-submit-section {
  padding: {
    top: 43px;
    bottom: 50px;
  }
  background-color: $color-grey;
}