.modal-window {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 87.5%;
  max-width: 320px;
  margin: 0 auto;
  padding: {
    top: 42px;
  }
  text-align: center;
  background-color: #fff;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
  transform: translate(-50%, -50%);
  z-index: 101;
  &--error-window {
    padding: {
      bottom: 45px;
    }
  }
}

.modal-window__title {
  margin-bottom: 25px;
  font: 1.8em/1.3333333333em $font-open-sans-bold;//18/24
  color: #000;
}

.modal-window__desc {
  margin-bottom: 38px;
  padding: {
      left: 6.25%;
      right: 6.25%;
    }
  font: 1.4em/1.7142857143em $font-open-sans;//14/24
  color: $color-indigo;
  &--success {
    margin-bottom: 32px;
  }
}

.modal-window__window-btn-section {
  padding: {
    top: 48px;
    bottom: 50px;
  }
  background-color: $color-grey;
}

.modal-window__btn {
  width: 87.5%;
}

//Tablet(660px)
@media #{$tablet} {
  .modal-window {
    width: 87.5%;
    max-width: 460px;
    padding: {
      top: 34px;
    }
    border-radius: 5px;
    &--error-window {
      padding: {
        bottom: 52px;
      }
    }
  }

  .modal-window__title {
    margin-bottom: 23px;
    padding: {
      left: 22%;
      right: 22%;
    }
    font-size: 3em;
    line-height: 1.3333333333em;//40
  }
  
  .modal-window__text-transfer {
    display: none;
  }
  
  .modal-window__desc {
    margin-bottom: 38px;
    padding: {
      left: 15%;
      right: 15%;
    }
    font-size: 1.8em;
    line-height: 1.3333333333em;//24
    &--success {
      margin-bottom: 36px;
    }
  }

  .modal-window__window-btn-section {
    padding: {
      top: 48px;
      bottom: 50px;
    }
  }

  .modal-window__btn {
    width: 65%;
  }
}

//Desktop (1200px)
@media #{$desktop} {
	.modal-window {
    padding: {
      top: 34px;
    }
		&--error-window {
			max-width: 460px;
		}
    &--success-window {
			max-width: 780px;
      padding: {
				top: 40px;
      }
    }
  }
	
	.modal-window__desc {
    &--success {
      margin-bottom: 39px;
			padding: {
      	left: 190px;
      	right: 190px;
    	}
    }
  }
	
	.modal-window__btn {
		&--close {
			width: 460px;
		}
  }
}
