.page-footer {
  &--index {
    display: none;
  }
}

.page-footer__inner-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: {
    top: 39px;
    bottom: 35px;
  }
  text-align: center;
  &--contest {
    padding: {
      top: 54px;
    }
  }
}

.page-footer__logo-link {
  width: 147px;
  margin-bottom: 40px;
  &:hover .page-footer__logo--pink-text {
    fill: $color-pink;
  }
  &:active .page-footer__logo--pink-text {
    fill: $color-indigo
  }
  &:active {
    opacity: 0.3;
  }
}

.page-footer__logo--pink-decor-visible-4-desktop {
  display: none;
}

.page-footer__made-by {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  width: 130px;
  height: 35px;
}

.page-footer__made-by-text {
	padding-top: 6px;
  font: 1.4em/1.2857142857em $font-open-sans;//14/18
  color: $color-indigo;
}

.page-footer__made-by-logo {
  fill: $color-pink;
  &:hover {
    fill: $color-indigo;
  }
  &:active {
    opacity: 0.3;
  }
}

//Tablet(660px)
@media #{$tablet} {
  .page-footer {
    margin: 0 auto;
    &--index {
      display: block;
    }
  } 
  
  .page-footer__inner-wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    width: 94%;
    padding: {
      top: 37px;
      bottom: 0px;
      left: 3%;//15px;
      right: 3%;//15px;
    }
    text-align: center;
  }
  
  .page-footer__logo-link {
    height: 41px;
    margin-bottom: 0px;
    margin-right: -15px;
  }
  
  .page-footer__made-by {
    padding-top: 10px;
  }
}

//Desktop (1200px)
@media #{$desktop} {
  .page-footer__inner-wrapper {
    justify-content: flex-start;
    padding: {
      top: 74px;
    }
		&--not-index {
			padding: {
      	top: 76px;
    	}	
		}
		&--contest {
			padding: {
				top: 70px;
				bottom: 30px;
			}
		}
  }
  
  .page-footer__logo-link {
    margin: 0;
	}
  
 .page-footer__logo--pink-decor-visible-4-desktop {
    display: block;
  }
  
  .page-footer__logo--pink-decor-invisible-4-desktop {
    display: none;
  }
  
  .page-footer__made-by {
    align-items: center;
    width: 154px;
    height: 35px;
    margin-left: auto;
		&--contest {
			//align-items: stretch;
		}
  }
  
  .page-footer__made-by-text {
		padding-top: 0px;
    font-size: 1.8em;
    line-height: 1em;//18
		&--contest {
			//padding-top: 2px;
		}
  }
}