.prices__wrapper {
  background-color: $color-grey;
}

.prices__inner-wrapper {
  height: 380px;
  max-width: 320px;
  margin: 0 auto;
  padding: {
      top: 120px;
    }
  background-color: $color-grey;
  overflow: hidden;
}

.prices__slider {
  position: relative;
}

.prices__slider-wrapper {
  position: absolute;
  left: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  transform: translateX(-50%);
  transition: transform 0.3s linear;
}

.prices__slider-input {
  display: none;
}

.prices__slider-slide {
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  border-right: 2px solid $color-grey;
  &--hidden-for-mobile {
    display: none;
  }
}

.prices__slider-input[id="price-r1"]:checked~.prices__slider-wrapper {
  display: flex;
  transform: translateX(-135px);//-17%
}

.prices__slider-input[id="price-r2"]:checked~.prices__slider-wrapper {
  display: flex;
  transform: translateX(-415px);//-256-50%
}

.prices__slider-input[id="price-r3"]:checked~.prices__slider-wrapper {
  display: flex;
  transform: translateX(-690px);//-534-83%
}


.prices__slide-title-block,
.prices__item {
  width: 276px;
  border: none;
  outline: 1px solid #e5e5e5;
}

.prices__slide-title-block {
  position: relative;
  padding: {
    top: 18px;
    bottom: 21px;
  }
  text-align: center;
  background-color: #283645;
  &--hit::before {
    @include pseudo;
    top: 1px;
    left: 1px;
    width: 74px;
    height: 68px;
    background: url("../img/bg-hit.svg") no-repeat center;
  }
}

.prices__hit-label {
  position: absolute;
  top: 13px;
  left: 7px;
  font: 1.4em/2.1428571429em $font-open-sans-semibold;//14/30
  color: #fff;
  text-transform: uppercase;
  transform: rotate(-45deg);
}

.prices__slide-title {
  font: 1.8em/1.6666666667em $font-open-sans-bold;//18/30
  color: #fff;
  text-transform: uppercase;
}

.prices__cost {
  font: 2.4em/1.25em $font-open-sans-light;//24/30
  color: #fff;
  opacity: 0.7;
  text-transform: uppercase;
}

.prices__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: {
    top: 16px;
    bottom: 13px;
  }
  background-color: #fff;
  border-bottom: 2px solid $color-grey;
}

.prices__item-name {
  padding-left: 23px;
  font: 1.4em/2.1428571429em $font-open-sans;//14/30
  color: #283645;
  text-transform: uppercase;
}

.prices__item-availability {
  padding-right: 35px;
  &--yes {
    width: 31px;
    height: 21px;
    background: url("../img/icons/prices__icon-yes.png") no-repeat center;
  }
  &--no {
    width: 27px;
    height: 26px;
    background: url("../img/icons/prices__icon-no.png") no-repeat center;
  }
}


//Tablet(660px)
@media #{$tablet} {
  .prices__inner-wrapper {
    height: 290px;
    max-width: 100%;
    padding: {
      top: 105px;
    }
  }
  
  .prices__slider-wrapper {
    position: relative;
    left: 0;
    justify-content: center;
    align-items: stretch;
    transform: none;
  }
  
  .prices__slider-slide {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    &--hidden-for-mobile {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
    }
  }
    
  .prices__slider-input[id="price-r2"]:checked~.prices__slider-wrapper {
    transform: none;
  }
  
  .prices__slide-title-block,
  .prices__item {
    width: 155px;
  }
  
  .prices__item {
    position: relative;
    min-height: 45px;
    padding: 0;
    text-align: left;
  }
  
  .prices__slide-title-block {
    position: relative;
    min-height: 66px;
    padding: {
      top: 10px;
      bottom: 5px;
    }
    overflow: hidden;
    &--hit::before {
      top: 1px;
      left: -5px;
      width: 74px;
    height: 58px;
    }
    &--empty {
      text-align: left;
      background-color: transparent; 
      border: none;
      outline: none;
    }
  }
  
  .prices__hit-label {
    position: absolute;
    top: 6px;
    left: 8px;
    font: 1.4em/2.1428571429em $font-open-sans-semibold;//14/30
    color: #fff;
    text-transform: uppercase;
    transform: rotate(-45deg);
  }

  
  .prices__slide-title {
    font: 1.6em/1.875em $font-open-sans-bold;//16/30
  }
  
  .prices__cost {
    font: 1.8em/1.6666666667em $font-open-sans-light;//18/30
  }
  
  .prices__item-name {
    padding-left: 16px;
    font: 1.4em/2.1428571429em $font-open-sans;//14/30
    text-transform: none;
    text-align: left;
    &--zero-font-tablet {
      font-size: 0;
    }  
  }
    
  .prices__item-availability {
    @include center;
    padding-right: 0px;
  }
}

//Desktop (1200px)
@media #{$desktop} {
  .prices__inner-wrapper {
    height: auto;
    padding: {
      top: 152px;
      bottom: 94px;
    }
  }
  
  .prices__slide-title-block,
  .prices__item {
    width: 235px;
  }
  
  .prices__item {
    min-height: 59px;
  }
  
  .prices__slide-title-block {
    position: relative;
    padding: {
      top: 15px;
      bottom: 18px;
    }
    &--hit::before {
      top: -13px;
      left: -80px;
      width: 100%;
      height: 100%;
    }
  }
  
  .prices__hit-label {
    top: 13px;
    left: 11px;
    font-family: $font-open-sans;
  }

  .prices__slide-title {
    font-size: 1.8em;
    line-height: 1.6666666667em;
  }
  
  .prices__cost {
    font-size: 2.4em;
    line-height: 1.25em;
  }
  
  .prices__item-name {
    padding-left: 22px;
    font-size: 1.8em;
    line-height: 1.6666666667em;
    &--zero-font-tablet {
      font-size: 0;
    }  
  }
}