.slider {
  position: relative;
}

.slider__input {
  display: none;
}

.slider__wrapper {
  &--reviews {
    height: 279px;
    padding: {
      top: 42px;
      bottom: 0px;
      left: 6.25%;
      right: 6.25%;
    }
    text-align: center;
  }
  &--prices {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    transition: transform 0.3s linear;
  }
}

.slider__slide {
  &--reviews {
    display: none;
  }
  &--prices {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    border-right: 2px solid $color-grey;
  }
}

.slider__switches {
  z-index: 1;
  &--reviews {
    position: absolute;
    bottom: 4%;
    left: 42%;
  }
  &--prices {
    position: absolute;
    bottom: -18.5%;
    left: 42%;
  }
}

.slider__switch {
  position: relative;
  cursor: pointer;
}

.slider__switch {
  margin-right: 26px;
  &:last-of-type {
    margin-right: 0;
  }
  &::before {
    @include pseudo;
    top: 50%;
    left: 50%;
    width: 6px;
    height: 6px;
    background-color: rgba(126, 134, 143, 0.7);
    border-radius: 50%;
    transform: translate(-50%, -50%);
  }
  &:hover::before {
    background-color: #7e868f;
  }
  &:active::before {
    background-color: rgba(126, 134, 143, 0.3);
  }
}

.slider__input[id="review-r1"]:checked~.slider__switches>.slider__switch[for="review-r1"]::after,
.slider__input[id="review-r2"]:checked~.slider__switches>.slider__switch[for="review-r2"]::after,
.slider__input[id="review-r3"]:checked~.slider__switches>.slider__switch[for="review-r3"]::after,
.slider__input[id="price-r1"]:checked~.slider__switches>.slider__switch[for="price-r1"]::after,
.slider__input[id="price-r2"]:checked~.slider__switches>.slider__switch[for="price-r2"]::after,
.slider__input[id="price-r3"]:checked~.slider__switches>.slider__switch[for="price-r3"]::after {
  @include pseudo;
  top: 50%;
  left: 50%;
  width: 6px;
  height: 6px;
  background: #fff;
  border: 3px solid $color-indigo;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.slider__input[id="review-r1"]:checked~.slider__wrapper>.slider__slide--reviews-r1,
.slider__input[id="review-r2"]:checked~.slider__wrapper>.slider__slide--reviews-r2,
.slider__input[id="review-r3"]:checked~.slider__wrapper>.slider__slide--reviews-r3 {
  display: block;
}

.slider__input[id="price-r1"]:checked~.slider__wrapper {
  display: flex;
  transform: translateX(20px);
}

.slider__input[id="price-r2"]:checked~.slider__wrapper {
  display: flex;
  transform: translateX(-256px);
}

.slider__input[id="price-r3"]:checked~.slider__wrapper {
  display: flex;
  transform: translateX(-534px);
}