.socials {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 178px;//178
  margin-bottom: 39px;
}

.socials__social-btn {
  position: relative;
  width: 45px;
  height: 45px;
  font-size: 0;
  border: 2px solid $color-grey;
  border-radius: 50%;
  &:hover {
    border-color: $color-indigo;
  }
  &:active {
    border-color: $color-grey;
    opacity: 0.3;
  }
}

.social__icon {
  @include center;
  fill: $color-pink;
}


//Tablet(660px)
@media #{$tablet} {
  .socials {
    width: 178px;//178
  }
}

//Desktop (1200px)
@media #{$desktop} {
  .socials {
    margin-left: 235px;
		&--not-index {
			margin-left: 239px;
		}
	}
}